<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <title>Multiplayer Roguelike</title>
    <style>
      #game {
          border-collapse: collapse;
      }

      .ui {
          margin-top: 13px;
          margin-left: auto;
          margin-right: auto;
      }

      * {
          font-size: 13px;
          font-family: monospace;
          background: black;
          color: gray;
      }
    </style>
  </head>
  <body>
    <table id="game" class="ui"></table>
    <div id="status" class="ui"></div>
    <script src="{% static "mp_roguelike/game.js" %}"></script>
  </body>
</html>
